#count {
	border: 1px solid black;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 15px;
	margin-right: 15px;
	height: 640px;
	background-image: url("https://thumbs.dreamstime.com/z/supermarket-grocery-store-fruit-vegetable-shelves-interior-defocused-background-empty-red-shopping-cart-136940860.jpg");
}

button {
	padding: 8px 12px;
	margin: 10px;
	border-radius: 20px;
	text-align: center;
	border: solid honeydew;
}
button:hover {
	background-color: brown;
	color: white;
	border: solid honeydew;
}

body {
	margin-top: 40px;
}

.center-text {
	text-align: center;
	color: black;
}

#rice,
#pulse,
#sugar {
	margin-left: 20px;
	margin-bottom: 15px;
	margin-right: 15px;
}

#stockdisplayer {
	margin-left: 55%;
	margin-bottom: 10%;
}

#topmost {
	color: black;
}
#inputboxes {
	border: 1px solid black;
	background-color: brown;
	width: 42%;
	padding: 10px;
}

/* #alertbox {
	color: red;
	font-size: 20px;
} */
#entersugar,
#enterpulse {
	margin-left: 25px;
}
#enterrice {
	margin-left: 34px;
}
.left-text {
	text-align: left;
}

@media (max-width: 768px) {
	#stockdisplayer {
		margin-bottom: 48%;
	}
	#inputboxes {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.center-text {
		font-size: 15px;
	}

	#displayingrice,
	#displayingsugar,
	#displayingpulse {
		font-size: 25px;
	}
	h1 {
		font-size: 30px !important;
	}
	#inputboxes {
		border: 1px solid black;
		background-color: brown;
		width: 70%;
		height: 50%;
		padding: 10px;
	}
	#stockdisplayer {
		width: 30%;
		margin-bottom: 10%;
	}
}
