<head>

    <style type ="text/css">
    
#count{background-color:grey;margin-left:5px;margin-right: 5px;
display: grid;grid-template-columns: auto auto;grid-row: 100px 50px 500px 50px 400px 400px 400px 400px 400px 4000px 400px;grid-gap: 20px;
;

}


.class1{font-size: 50px;text-align: center;grid-area: 1/1/2/span 2;background-color:white}

.class2{font-size: 30px;font-style: italic;text-align: center;grid-area: 2/1/3/span 2;}

.class3{font-size: 30px;text-align: center;grid-area: 4/1/5/span 2;font-style: oblique;color: blue;}

.class5{width:600px;height:400px}

.class6,.class7,.class8{font-size: 25px;background-color: darkgrey;text-align:left;padding:20px}

.class10{text-align:right}



#count2,#count3{color:red;text-align: left;margin:20px;float:left}
#count4{float:right;margin:20px;text-align: right;}
#count3{margin-left: 300px;}



#id2{grid-area: 3/1/4/span 2;}
#id1{width:1260px;height:800px}
#id3{grid-area: 9/1/ span 1/span 2;text-align: center; font-size: 30px;}
#id4{color:red; font-size: 30px;padding:20px}


@media(max-width:992px){


   #id1,.class5{height:400;width:600px} 
   #count2{clear:left}
   #count{clear:right}
}




@media(max-width: 748px){

#id1,.class5{width:350px;height:350px}
#count2,#count3,#count4{margin:30px}
#count4{clear:right}
#count{display:flex;flex-direction: column;}    
}

    
    
</style>
</head>